  <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              Title:<br>
              <input type="text" name="title" value="Post Title">
              <br>
              Body:<br>
              <input type="text" name="body" value="Post Body">
              <br><br>
              <input type="submit" value="Submit">
            </form>
        </div>
    </div>